<!-- <img src='{{url}}'  alt=""> -->

<div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="1"
      (scrolled)="onScroll()"
    >
<div class=" flex flex-row flex-wrap p-4">
<div *ngFor="let obj of urlArray" class="basis-1/3" >
    <!-- <img src={{obj.download_url}}  alt=""> -->
    <!-- <h1>{{obj.download_url}}</h1> -->
    <!-- <section class="text-gray-600 body-font"> -->
 
        <!-- <div class="flex flex-wrap -m-4">
            <div class="p-4 w-1/3"> -->
                <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                  <img class="lg:h-48 md:h-36 w-full object-cover object-center" src={{obj.download_url}} alt="blog">
                  <div class="p-6">
                    <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Author</h2>
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{obj.author}}</h1>
                      
                    
                  </div>
                </div>
              <!-- </div>
        </div> -->

      <!-- </section> -->
</div>
</div>


</div>
